# # Copyright (c) 2019 Antoine TRAN TAN
# #
# # Distributed under the Boost Software License, Version 1.0. (See accompanying
# # file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)

# /build
# .DS_Store
# .vscode
# .vs

# # Prerequisites
# *.d

# # Compiled Object files
# *.slo
# *.lo
# *.o
# *.obj

# # Precompiled Headers
# *.gch
# *.pch

# # Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# # Fortran module files
# *.mod
# *.smod

# # Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# # Executables
# *.exe
# *.out
# *.app
